<div class="container col-6" >
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2019/04/24/21/55/cinema-4153289__340.jpg)">
<h1 class="text-center f-color-black" >Create Your New Movie List</h1>
</div>
<h2 ><%= simple_form_for [@list] do |f| %>
  <%= f.input :name %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
</h2>

<p><%= link_to lists_path do%>
  <i class="fas fa-arrow-alt-circle-left"> Back to Lists</i>
<% end %>
</p>
</div>
