<div class="container col-8">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://pbs.twimg.com/media/ESNhDyHWsAATd_a.jpg)">
  <h1> Movie Shows here</h1>
</div>
<div class="cards">
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card-category"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/vectors/movie-night-concept-with-popcorn-cinema-tickets-drink-tape-in-cartoon-vector-id1237804526?k=20&m=1237804526&s=612x612&w=0&h=g6_E2xWQCOgO7ml_ngtgpJgcEDRFzLy_CfEFF3s1l-g=)" >
    <li><%= bookmark.movie.title %></li>
  </div>
  <%end %>
</div>
<p>
  <%= link_to new_list_bookmark_path(@list) do%>
    <i class="fas fa-plus btn btn-ghost">Add Bookmark</i>
  <% end %>
</p>

<p>
  <%= link_to lists_path do%>
    <i class="fas fa-arrow-alt-circle-left btn btn-ghost"> Back to Lists</i>
  <% end %>
</p>

</div>
